
tr
  td = equipment.id
  td = equipment.equipment_name
  td = equipment.serial
  td = equipment.created_at.strftime("%d %b %Y")
  td
    i.fa class=(equipment.checked_in? ? "fa-check-circle report-green" : "fa-exclamation-circle") aria-hidden="true"
      - if equipment.checked_in?
        |  Checked In
      - else
        |  Checked Out
  td
    - if equipment.image.present?
      = image_tag equipment.image.url(:thumb), alt: "#{equipment.equipment_name} Thumbnail", class: 'equipment-thumbnail'
    - else
      | No Image
      | &nbsp
      i.fa-solid.fa-image
style
  |
    .equipment-container {  display: flex; 
                            flex-direction: column; 
                            justify-content: center;
                            align-items: center;
                          }
    .shrink-h {height: 40px; padding: 0px; text-align: center }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
      font-size: 16px;
    }

    th, td {
      padding: 2px;
      border: 1px solid #ddd;
      text-align: center;
    }

    th {
      background-color: #423f3f;
      color: white;
    }

    td {
      background-color: #3e3c3c;
    }

    .equipment-thumbnail {
      max-width: 100px;
      height: auto;
    }

    .equipment-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .shrink-h {
      height: 40px;
      padding: 0px;
      text-align: center;
    }
    .report-green {color: #0dff00}